body {
  --bar: #727272;

  margin: 0;
  padding: 0;
  background-color: transparent;
  }

* {

  -webkit-font-smoothing: antialiased;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: -3px;
  right: 0;
  height: 15px;
  border-radius: 10px;
  background: var(--bar);
  transform-origin: 0%;
}
