@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500&display=swap");

* {
  font-family: "Assistant", sans-serif;

  margin: 0 auto;

  /* colors */
  --green: #e6fc83;
  --blue: #7aa5f6;
  --pink: rgba(229, 125, 121, 0.985);
  --font: #727272;
}

::-webkit-scrollbar {
  display: none;
}

.green {
  height: 100vh;
  background-color: var(--green);
}

.text {
  padding-top: 10vh;
}

.green p {
  padding-left: 10%;
  /* font-size: 5rem; */
  color: var(--font);
  font-weight: 400;
  font-size: 5vw;
}

.links {
  margin-top: 20vh;

  display: flex;
}

.links a {
  font-size: 46px;
  text-decoration: none;
  color: var(--font);

  display: inline-flex;
}

@media (max-width: 768px) {
  .green p {
    font-size: 5rem;
  }
}

@media (max-width: 428px) {
  .green p {
    font-size: 3rem;
  }
  .links a {
    font-size: 2rem;
    /*    margin-top: -5rem; */
  }
}
@media (max-width: 375px) {
  .green p {
    font-size: 2.2rem;
    margin-right: 4rem;
  }

  .links a {
    font-size: 1.5rem;
    /*    margin-top: -5rem; */
  }
}

.blue {
  height: 100vh;
  background-color: var(--blue);
  text-align: center;
  padding-top: 10vh;
}

.blue h1 {
  color: var(--green);
  padding-top: 7vh;
}

.project-flex-box {
  /* border: 1px solid orange; */
  display: flex;
  /* justify-content: space-around; */

  align-items: center;
  height: 25vh;
  margin-top: 25vh;
  width: 80vw;

  gap: 3rem;
}

@media (max-width: 768px) {
  .project-flex-box {
    flex-direction: column;
    align-items: center;
    height: 70%;
    margin-top: 3rem;
  }
}

.proj1,
.proj2,
.proj3 {
  border: 1px solid black;
 width: 25rem;

  height: 18rem;
}

.proj1 {
  background: url("./assets/pantry.jpg");
  background-size: cover;
  overflow: hidden;
  background-position: center;
}

@media (max-width: 768px) {
  .proj1,
  .proj2,
  .proj3 {
    height: 20rem;
    width: 25rem;
  }
}

.pink {
  height: 100vh;
  background-color: var(--pink);
}
