@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500&display=swap");

* {
  font-family: "Assistant", sans-serif;

  margin: 0 auto;
  box-sizing: border-box;

  /* colors */
  --green: #e6fc83;
  --green-form: #e6fc83bb;
  --green-opaque: #ffffffe9;
  --blue: #7aa5f6;
  --pink: rgba(229, 125, 121, 0.985);
  --pink-o: rgba(243, 139, 136, 0.903);
  --font: #727272;
  --font-form: #383636;
  --button-form: #483d3d;
  --input: rgba(144, 135, 135, 0.419);
  --input-focus: rgba(134, 127, 127, 0.389);
  --input-pink: rgba(255, 72, 72, 0.249);
}

::-webkit-scrollbar {
  display: none;
}

/* .App {
  display: flex;
  flex-direction: column;
} */

.green {
  height: 100vh;
  background-color: var(--green);
  color: var(--font);
}

.text {
  padding-top: 10vh;
}

.green p {
  padding-left: 8%;

  font-weight: 400;
  font-size: 5vw;
}

.links {
  margin-top: 20vh;

  display: flex;
}

.links a {
  font-size: 46px;
  text-decoration: none;

  display: inline-flex;

  position: relative;
}

.links a:link {
  color: inherit;
}

.links a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--font);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.links a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media (max-width: 768px) {
  .green p {
    font-size: 5rem;
  }
}

@media (max-width: 428px) {
  .green p {
    font-size: 3rem;
  }
  .links a {
    font-size: 2rem;
    /*    margin-top: -5rem; */
  }
}
@media (max-width: 375px) {
  .green p {
    font-size: 2.2rem;
    margin-right: 4rem;
  }

  .links a {
    font-size: 1.5rem;

    /*    margin-top: -5rem; */
  }
}

.blue {
  height: 100vh;
  padding-top: 1%;
  background-color: var(--blue);
  text-align: center;

  display: flex;
  justify-content: space-evenly;

  flex-direction: column;
  /*  padding-top: 10vh; */
}

.blue h1 {
  color: var(--green);
  /*   max-height: fit-content; */
  font-size: 3.5rem;
  font-weight: 400;
  letter-spacing: 2px;
}

.project-flex-box {
  display: flex;

  align-items: center;
  justify-content: center;
  margin-top: -5%;
  margin-bottom: 5%;
  margin-left: 7%;
  margin-right: 7%;
  gap: 3rem;
}

.project {
  position: relative;
  display: inline-block;
}

.project .text {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.1rem;

  color: var(--font-form);

  transition: opacity 0.4s ease-out, top 0.4s ease-out;
}

.project .text h3 {
  font-weight: 600;
}

.project:hover {
  cursor: url(http://www.rw-designer.com/cursor-extern.php?id=186469);
}

.project:hover .text {
  opacity: 1;
  top: 30%;
  transform: translateY(-50%);
  padding-right: 4rem;
  padding-left: 4rem;
}

.project .text a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}
a:active .text {
  color: var(--green);
}

.project:hover img {
  opacity: 0.1;
}

@media (max-width: 768px) {
  .blue {
    height: 160vh;

  }
  .project-flex-box {
        max-height: 100%;

    flex-direction: column;
    align-items: center;
    /*   margin-top: 4rem; */
  }

  .blue h1 {
    padding: 15%;
  }
}

img {
  max-width: 100%;
  border-radius: 10px;
  box-shadow: -4px 3px 5px rgba(171, 171, 171, 0.3);
  -webkit-box-shadow: -4px 3px 5px rgba(171, 171, 171, 0.3);
  -moz-box-shadow: -4px 3px 5px rgba(171, 171, 171, 0.3);
}

.pink {
  height: 100vh;
  background-color: var(--pink);

  display: flex;
  /*  justify-content: center; */
  align-items: center;
}
